header {
	background: black;
	padding-bottom: 10px;
}

section {
	padding-top: 10px;
}

.container{
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
}

.titulo {
	font-size: 50px;
	position: relative;
	color: white;
}


.nav {
	padding: 5px 5px;
	margin: 10px 10px 10px;
}

.botao-principal {
	text-decoration: none;
	color: black;
	border: solid;
	border-color: black;
	padding: 3px 3px;
	border-radius: 10px;
	background: #BEBEBE;
}