header {
	background: black;
	padding-bottom: 10px;
}

.container{
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
}

.titulo {
	font-size: 50px;
	position: relative;
	color: white;
}


.nav {
	
}